.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 50px;
}

.service-card {
  width: 360px;
  height: 385px;
  margin: 25px 35px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  padding: 25px;
}

.service-card img {
  margin-top: 25px;
}

.service-card h2 {
  color: #2c8ecb;
  font-size: 32px;
  text-align: center;
  margin: 0px;
}

.service-card p {
  font-size: 1.2em;
  text-align: center;
  margin: 10px;
}

.service-card a button {
  color: #2c8ecb;
  background: transparent;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.service-card a button:hover {
  color: #fd6512;
}


.service-card:hover {
  height: 390px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.team {
  margin-bottom: 50px;
}

.team p {
  max-width: 60vw;
  text-align: center;
  margin: auto;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.team-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.clients {
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  max-width: 50vw;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 8px;
  padding: 25px;
}


.contact-card {
}

.contact-card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact-card-body div h4 {
  color: #2c8ecb;
  font-size: 20px;
}

.contact-card-body div p {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.contact-button {
  margin-top: 20px;
  background: #2ed46c;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  border: 0px;
  font-size: 26px;
  cursor: pointer;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  width: 72%;
  margin: auto;
}

.client-logo {
  height: 80px;
  width: auto;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  margin: 15px 25px;
  cursor: pointer;
}

.client-logo:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

@media screen and (max-width: 768px) {
  .service-card {
    width: 90%;
    margin: 25px 5%;
  }

  .team p {
    max-width: 90vw;
  }

  .team-card {
    width: 90%;
    margin: 25px 5%;
  }

  .contact {
    max-width: 90vw;
  }

  .carrousel{
    display: none;
  }
  
}
