*{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    display: inherit;
}

h1{
    color: #2C8ECB;
    text-transform: uppercase;
    text-align: center;
}


.toolbar{
    background: #2C8ECB;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.toolbar-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.toolbar-buttons a button{
    border: none;
    background: transparent;
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}


.footer{
    width: 100%;
    height: fit-content;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #2C8ECB;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-logo{
    padding: 25px;
}

.footer-nav-buttons{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-nav-buttons a button{
    background: transparent;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 18px;
}

.data-fiscal{
    margin-right: 25px;
}

#open-menu-button{
    display: none;
}

#aside-menu{
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: flex-start;
    top: 0;
    height: 100vh;
    right: 0px;
    width: 200px;
    background: white;
    z-index: 10000;
}

#aside-menu div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%;
    margin-top: 15px;
}

.aside-menu-buttons{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.aside-menu-buttons a button{ 
    color: #2c8ecbfc;
    background: transparent;
    border: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}

#close-menu-button{

    width: 70px;
    background: transparent;
    color: #2c8ecbfc;
    border: none;
    font-size: 18px;
    margin-right: 0px;
    cursor: pointer;
}


@media screen and (max-width: 768px){
    #open-menu-button{
        display: block;
        background: transparent;
        color: white;
        border: none;
        font-size: 18px;
        margin-right: 10px;
        cursor: pointer;
    }

    .toolbar-buttons{
        display: none;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-nav-buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo{
        padding: 0px;
    }

    .data-fiscal{
        margin: 0px;
    }
    
}